# VARIABLES A RENSEIGNER :
TORCH_DEVICE= cpu #(ou cuda ou cuda:1 )
HF_HOME="blabla/huggingface_cache" #path pour stocker un cache Huggingface (prévoir quelques GO de disque...)
PORT_API = 8080

TOKEN_HF= "token_dummy"


#VARIABLES FACULTATIVES :
#Remarque : les variables ci-dessous ne sont pas "nécessaires" pour faire tourner le programme,
#           mais c'est bien de les avoir à porter de main pour importer les audios avec les endpoints dédiés

DEFAULT_NAME_DATASET=Mozilla
DEFAULT_PATH_DATASET= #path où est situé le dossier d'audio correspondant
DEFAULT_PATH_DATASET_MD= #path pour le fichier .tsv de métadonnées

DATASET_BIS_NAME=Reu
DATASET_BIS_PATH= 
DATASET_BIS_PATH_MD= 


