datasets==4.0.0
fastapi==0.116.1
huggingface_hub==0.33.4
jiwer==4.0.0
matplotlib==3.10.5
mysql_connector_repackaged==0.3.1
numpy
psutil==7.0.0
pydantic==2.11.7
pydub==0.25.1
python-dotenv==1.1.1
speechbrain==1.0.3
streamlit==1.44.0
torch==2.7.1
torchaudio==2.7.1
transformers==4.53.2
uvicorn==0.35.0
